// TT Colors

// Blues
$blue-110: #5882F5;
$blue-100: #628CFF;
$blue-80: #81A3FF;
$blue-60: #A1BAFF;
$blue-40: #C0D1FF;
$blue-20: #E0E8FF;


// Oranges
$orange-120: #FF7700;
$orange-110: #FF8C00;
$orange-100: #FFA300;
$orange-80: #FFB026;
$orange-60: #FFC42E;
$orange-40: #FFD467;
$orange-20: #FFE79E;


// Greys
$grey-100: #333333;
$grey-90: #505050;
$grey-80: #686868;
$grey-70: #888888;
$grey-60: #A5A5A5;
$grey-50: #C1C1C1;
$grey-40: #DDDDDD;
$grey-30: #EDEDED;
$grey-20: #F7F7F7;
$white: #FFFFFF;
$black: #141414;

/* Actions */
$success: #c3dfa7;
$error: #f399a3;